/* CSS for website */
img{
max-height:500px;
}

iframe{
height: 320px;
width: 900px;
}

#iframe-image-sub{

 display:none;

}


@media (max-width: 1135px){
    iframe{
        display:none;
    }
    #iframe-image-sub{
        display: inline;
    }
}